// here is ma boi
// here is ma boi
// here is ma boi
// here is ma boi
// here is ma boi

// $grid-breakpoints: ( xs: 0, sm: 1px, md: 768px, lg: 1521px, ) !default;
// $container-max-widths: ( sm: 530px, md: , lg: 1520px, ) !default;

$grid-breakpoints: ( xs: 0, sm: 788px, md: 1366px, lg: 1521px, ) !default;
$container-max-widths: ( sm: 760px, md: 1360px, lg: 1520px, ) !default;
// Grid columns
//
// Set the number of columns and specify the width of the gutters.
$grid-columns: 12 !default;
$grid-gutter-width: 20px !default;


//@import '../../node_modules/bootstrap-4-grid/scss/grid';
@import '../js/jquery.mCustomScrollbar.min.css';
@import '../js/select2.min.css';
@import 'mixins';
@import 'fonts';
@import 'slick';
@import 'lightbox';


$black: #222224;
$grey: #d5d5d5;
$greyl: #f3f3f3;
$blue: #065bb5;
$dblue: #094d94;
$yellow: #f7cf44;
$red: #e7173f;

.slick-slider{
  width: 100%;
}

header,footer{
}

h1,h2,h3,h4,h5,h6{
  margin: 0;
  padding: 0;
}

body{
  position: relative;
  box-sizing: border-box;
  font-family: 'regular';
  color: #1a2231;
  font-size: 16px;
  line-height: 150%;
  padding: 0;
  margin: 0;
  background-color: #cb2e2a;
}

input{
  outline: none;
      transition: all .3s;
}

a{
  transition: all .3s;
  &:hover{
    text-decoration: none;
  }
}

form{
  margin-bottom: 0;
}

img{
  max-width: 100%;
}

p{
  line-height: 18px;
}



input[type="search"]::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }



.container{
  width: 100%;
  max-width: 1160px;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto; 
  box-sizing: border-box;
}

.header{
  background: white;
}


.main{
  display: flex;
  flex-wrap: wrap;
  border-bottom: 5px solid white;
}

.main__img{
  box-sizing: border-box;
  width: 33.3333%;
  overflow: hidden;
  position: relative;

  // img{
  //   position: absolute;
  //   left: 0;
  //   right: 0;
  //   top: 0;
  //   bottom: 0;
  //   margin: auto;
  // }
}

.container_main     {
  //max-width: 1366px;
  max-width: 100%;
  box-sizing: border-box;
  padding: 0;
}

.header_container{
  display: flex;
  max-width: 200%;
  overflow: hidden;
  justify-content: space-between;
  background: url('../images/pattern.png') right no-repeat;
  background-size: contain;
  background-position: calc(100% + 390px) 0;
  position: relative;
  padding-right: 150px;
  transition: all .4s ease;

}

.header_bg_anim{
  background-position: 0 0;
}



.header__logos{
  display: flex;
}



.logos{
  display: flex;
  padding-top: 20px;
  padding-bottom: 25px;
  align-items: center;

}

.logos__img{
  width: 90px;
  height: 90px;
  position: relative;
  overflow: hidden;

  img{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    margin:  auto;
  }
}

.logos_coca{
  img{
    width: 79px;

  }
}

.logos__slogan{
  color: #de0a1c;
  font-family: 'rotonda_boldregular';
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 29.19px;
  text-transform: uppercase;
  /* Text style for "В, ыигрыва" */
  letter-spacing: 6.69px; 
  margin-left: 70px;
}

.menu{
  display: flex;
  align-items: center;
  height: 75px;
  width: 49px;
  position: absolute;
  right: 80px;
  top: 0;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}


.footer{
  padding-top: 30px;
  padding-bottom: 50px;
  color: #fff;
  font-family: 'Gotham Pro';

  a{
    color: #fff;
  }
}

.footer_container{
  display: flex;
  justify-content: space-between;
}

.footer__privacy{
  font-size: 10px;
  line-height: 12px;
  
  p{
    margin: 0;
    margin-bottom: 10px;
  } 

  a{
    color: #f40000;
    text-decoration: none
  }
  
}

.footer__right{
  min-width: 420px;
  display: flex;
  justify-content: flex-end;
}

.footer__links{
  font-family: 'Gotham Pro';
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 14px;
}

.footer__li{
  margin-bottom: 9px;
}

.footer__link{
  text-decoration: none;
  padding-left: 20px;
  position: relative;

  &::after{
    content: '';
    width: 12px;
    height: 14px;
    background: url('../images/ficon.png');
    position: absolute;
    left: 0;
    top: 2px;
  }
}

.nav{
  font-family: 'Gotham Pro';
  position: absolute;
  justify-content: space-between;
  padding-right: 170px;
  top: calc(50% - 12px);
  right: 0;
  transition: all .4s ease;
  transform: translateX(400%);
}

.header_nav_anim{
  transform: translateX(0%);
}

.nav__ul{
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
  
}

.nav__link{
  color: #606060;
  text-decoration: none;
}

.header__inner{
  transition: all .4s ease;
}

.header_inner_anim{
  transform: translateX(-300%);
}

.section-start{
  height: 100vh;
  min-height: 800px;
  width: 100%;
  box-sizing: border-box;
  border-bottom: 5px solid white; 
  color: #ffffff;
  text-align: center;
  margin: 0 auto;

}

.container_start{
  position: relative;
  height: 100%;
}

.start__inner{
  max-width: 650px;
  width: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.start__title{
  font-family: 'rotonda_boldregular';
  font-size: 52px;
  text-transform: uppercase;
  line-height: 53.53px;
  margin-bottom: 50px;
}

.start__desc{
  padding-left: 20px;
  padding-right: 20px;
  font-family: "Gotham Pro";
  color: #ffffff;
  font-family: "Gotham Pro";
  font-size: 30px;
  font-weight: 400;
  line-height: 35.99px;
  margin-bottom: 25px;
}

.start__links{
  display: flex;
  justify-content: space-between;
  margin-bottom: 100px;
  padding-left: 20px;
  padding-right: 20px;
}

.start__start{
  font-family: "Gotham Pro";
  font-size: 30px;
  font-weight: 400;
  line-height: 35.99px;
  padding-right: 35px;
  padding-left: 35px;
  padding-top: 15px;
  padding-bottom: 20px;
  border-radius: 50px;
  border: 1px solid white;
  color: #ffffff;
  text-decoration: none;
  transition: all .3s ease;

  &:hover{
    background: white;
    color: #000;
  }
}



.main_sale{
  background: #fff;
  height: 86vh;
  overflow-y: auto;
  min-width: 260px;

  .main{
    flex-direction: column;
    max-width: 260px;
    border-bottom: none;
  }

  .main__img{
    width: 100%;
  }
}

.df{
  display: flex;
}

.sale__img{
  margin-bottom: 30px;
}

.section-sale{
  min-height: 86vh;
  width: 100%;
  background: #fff;
}

.sale{
  height: 100%;
  background: #fff;
  padding-bottom: 50px;
  box-sizing: border-box;
}

.sale__title{
  margin-bottom: 50px;
  color: #96c11f;
  font-size: 44px;
  font-family: 'rotonda_boldregular';
  line-height: 130%;
  width: 100%;
}

.sale__title2{
  @extend .sale__title;
  text-align: center;
  font-size: 30px;
}

.sale__wrap{
  width: 100%;
  max-width: 1550px;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  box-sizing: border-box;
}

.gr{
  display: inline-block;
  width: 45%;
}

.gr__item{
  display: flex;
}

.gr__item2{
  max-width: 420px;
  margin-right: 40px;

  &:last-child{
    margin-right: 0;
  }
}

.gr__img{
  margin-bottom: 25px;
}

.gr__desc{
  color: #5c5c5c;
  font-size: 20px;
  line-height: 25.72px;
  font-family: "Gotham Pro";
  max-width: 320px;
  letter-spacing: -1.2px;
  text-align: center;

  span{
    color: #ff0000;
    font-size: 21px;
    font-family: 'rotonda_boldregular';
  }
}

.gr__l{
  margin-top: 20px;
  span{
    display: inline-block;
    margin-left: 10px;
    font-family: 'Gotham Pro';
    font-weight: 900;
  }
}

.gr__btn{
  border-radius: 34px;
  background-color: #dd0c1b;
  color: #ffffff;
  font-family: 'rotonda_boldregular';
  font-size: 23px;
  font-weight: 700;
  line-height: 37.72px;
  border: none;
  padding: 10px;
  padding-left: 17px;
  padding-right: 17px;
  white-space: nowrap;
  cursor: pointer;
  display: block;
  text-align: center;
}

.sale_sale1{
  .gr__btn{
    margin-bottom: 34px;
  }
}

.grf{
  display: flex;
  justify-content: space-between;
  
}

.gr2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.gr2__item{
  font-family: 'Gotham Pro Narrow';
  max-width: 340px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 2px;
  border: 1px solid #ff0000;
  box-sizing: border-box;
  padding-top: 40px;
  padding-left: 30px;
  padding-right: 30px;
  height: 320px;
  margin-left: 40px;
  margin-bottom: 0;
  position: relative;
  width: 100%;
  &:first-child{
    margin-left: 0;
  }
}

.gr2__img{
  margin-bottom: 15px;
}

.gr2__price{
  display: block;
  align-self: flex-start;
  font-size: 45px;
  font-family: 'rotonda_boldregular';
  color: #f00;

}

.gr2__desc{
  position: absolute;
  bottom: 20px;
  font-size: 24px;
  line-height: 35px;
  right: 20px;
  left: 20px;
}

.heads{
  margin-top: -70px;
}

.gr2__item{
  max-width: 300px;
  margin-bottom: 20px;
}

.gr2__item:first-child{
  margin-left: 0;
}


.gr__btn{
  text-decoration: none;
}


.modal_overlay{
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(255,255,255,.9);
}

.modal{
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  overflow: auto;
}

.modal.modal_show {
  display: block;
}

.modal_inner{
  max-width: 370px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 100px;
}

.check{
  width: 312px;
height: 67px;
border-radius: 2px;
background-color: #96c11f;
border: none;
text-align: center;
height: 18px;
color: #ffffff;
font-size: 23px;
font-weight: 700;
line-height: 22.76px;
text-transform: uppercase;
/* Text style for "загрузить" */
letter-spacing: 0.85px;
padding-top: 20px;
padding-bottom: 40px;
}

.modal__title{
  color: #96c11f;
color: #ffffff;
font-size: 24px;
font-weight: 400;
line-height: 28.59px;
text-transform: uppercase;
/* Text style for "загрузить" */
color: #96c11f;
letter-spacing: 0.7px;
font-family: 'Gotham Pro Narrow';
text-align: center;
margin-bottom: 20px;
}

.modal__can{
  margin-top: 40px;
  cursor: pointer;
  margin-bottom: 40px;
}
//custom scroll
.mCSB_inside>.mCSB_container{
  margin-right: 10px;
}

.mCSB_dragger_bar{
  border: 4px solid white !important;
  background: #de0a1c !important;
}

.mCSB_dragger_onDrag{
  opacity: 1;
  
}

.mCustomScrollBox.mCS-rounded.mCSB_vertical.mCSB_inside{
  background: #fff;
}

.content_white{
  background: white;
}

.section-lk{
  padding-top: 35px;
  min-height: 86vh;
  flex: 1;
}

.lk-name{
  padding-left: 100px;
  min-width: 400px;
  color: #5c5c5c;
  font-size: 33px;
  font-family: 'rotonda_boldregular';
  line-height: 43.07px;
  position: relative;
  margin-left: -100px;

  &::after{
    content: '';
    width: 69px;
    height: 56px;
    background: url('../images/pep.png');
    position: absolute;
    left: 0;
    transform: translate(0,-50%);
    top: 50%;
  }
}

.header_logout{
  display: none;
}

.header.header_logout{
  display: block;

  .header_nav_anim{
    transform: translateX(-30%);
    max-width: calc(1165px - 240px);
  }
}

.logout{
  margin-right: 20px;
}

.logout__btn{
  display: flex;
  align-items: center;
  text-decoration: none;
  
}



.logout__btn-text{
  margin-left: 20px;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 400;
  line-height: 126.99px;
  letter-spacing: 1.1px;
  color: #de0a1c;
}

.tab_wrapper{
  display: flex;
  justify-content: space-around;
}

.tab{
  font-size: 33px;
  padding-left: 100px;
  color: #5c5c5c;
  font-size: 33px;
  font-family: 'rotonda_boldregular';
  line-height: 43.07px;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 10px;
  padding-bottom: 15px;
  border: 1px solid transparent;
  box-sizing: border-box; 
  border-radius: 60px;
  cursor: pointer;
  text-align: center;
}

.tab.active{
  border: 1px solid #cb2e2a;
}

.tabs{
  width: 100%;
}

.lk__tabs{
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.container_lk{
  max-width: 1360px;
}



table{
  width: 100%;
  font-family: "Gotham Pro";
  color: #3d3d3d;
  font-size: 22px;
  font-weight: 400;
  line-height: 29.9px;
  td,th{
    padding-top: 22px;
    padding-bottom: 22px;
  }

  th{
    text-align: left;
    color: #b3b3b3;
    font-weight: 400;
  }

  .td-text{
    padding-right: 40px;
    max-width: 240px;
  }

  .gr__btn{
    font-family: "Gotham Pro";
    font-weight: 400;
  }
  // tr td .td-text:last-child{
  //   padding-right: 0;
  // }

  .td-text_img{
    width: 64px;
    height: 64px;
    background: grey;
    padding: 0;
    overflow: hidden;

  }
}

.modal_getgift_title{
  font-family: 'rotonda_boldregular';
  font-size: 30px;
  font-weight: 700;
  color: #de0a1c;
  text-transform: initial;
}

.modal__s{
  font-family: "Gotham Pro";
  font-weight: 400;
  font-size: 16px;
  color: #959595;
  margin-bottom: 35px;
  text-align: center;
}

.modal__name{
  font-family: "Gotham Pro";
  font-weight: 700;
  font-size: 20px;
  margin-bottom: 5px;
}

.modal__contacts{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  width: 100%;
  font-family: "Gotham Pro";
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 25px;
}

.modal__form{
  width: 100%;
}

.modal_getgift {
  .feild{
    margin-bottom: 12px; 
  }

  .feild__title{
    font-family: 'Roboto';
    font-size: 20px;
    font-weight: 400;
    line-height: 27.58px;
    color: #959595;
    margin-bottom: 10px;
  }

  .field_short{
    .field__input{
      max-width: 140px;
    }
  }

  .field__input{
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 23px;
    color: #959595;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 27.58px;
    width: 100%;
    border: 1px solid #96c11f;
  }

  .modal__form-row{
    display: flex;
    justify-content: space-between;

    &.submit{
      display: flex;
      justify-content: center;
    }
  }

  .gr__btn{
    margin-top: 20px;
  }

}

.modal_firstauth{
  &.modal_inner{
    width: 100%;
    max-width: 100%;
  }
  .modal__title{
    max-width: 510px;
    width: 100%;
    text-transform: initial;
    color: #de0a1c;
    font-family: Roboto;
    font-size: 30px;
    font-weight: 400;
    line-height: 35.11px;
    margin-bottom: 60px;
  }

  .buttons{
    max-width: 330px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 60px;
    text-align: center;
  }

  .buttons__button{
    font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 31.35px;
    text-transform: uppercase;
    color: #fff;
    background: #000;
    background-color: #96c11f;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    max-width: 100px;
    width: 100%;
    box-sizing: border-box;
    text-decoration: none;
  }

  .button_n{
    background-color: #de0a1c;
  }
}

.green_btn{
  font-family: Roboto;
    font-size: 20px;
    font-weight: 400;
    line-height: 31.35px;
    text-transform: uppercase;
    color: #fff;
    background: #000;
    background-color: #96c11f;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    box-sizing: border-box;
    text-decoration: none;
    text-transform: uppercase;
    border: none;
}

.modal_auth, .modal_reg{
  .feild{
    margin-bottom: 30px;
  }

  .field__input{
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    padding-top: 25px;
    padding-bottom: 25px;
    height: 23px;
    color: #959595;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 27.58px;
    width: 100%;
    border: 1px solid #96c11f;
    text-transform: uppercase;
    background: none;
    padding: 30px;
    &::placeholder{
      color: #96c11f;
    }
    
  }

  .modal__title{
    margin-bottom: 60px;
  }

  .green_btn{
    display: block;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 20px;


  }

  .modal__form-row{
    text-align: center;
    color: #7f7f7f;
    font-family: Roboto;
    font-size: 19px;
    font-weight: 400;
    line-height: 22.87px;
    

    span{
      margin-bottom: 10px;
      display: block;

      a{
        color: #7f7f7f;
        text-decoration: underline;
      }
    }
  }
}

.modal_reg{
  // .field__input{
  //   border :1px solid #96c11f;
  //   &::placeholder{
  //     color: #96c11f;
  //   }
  // }

  .field_checkbox{
    a{
      color: #7f7f7f;
    }
    text-align: left;
    padding-left: 35px;
    position: relative;
    input{
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      -webkit-appearance: none;
      z-index: 1;
      margin: 0;
    }

    span{
      position: absolute;
      left: 0;
      width: 20px;
      height: 20px;
      border :1px solid #c9161c;
      top: 0;
    }

    input:checked + span:after{
      position: absolute;
      content: '';
      width: 15px;
      height: 15px;
      top: 2px;
      left: 3px;
      background: #96c11f;
    }
  }
  .captcha{
    text-transform: uppercase;
  }
}

.modal_reg_complete{
  .modal__title{
    margin-bottom: 40px;
  }
  .field__title{
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 22.87px;
    /* Text style for "Введите, п" */
    color: #7f7f7f;
    text-align: center;
    margin-bottom: 20px;
  }
  .field__input{
    padding-left: 25px;
    padding-right: 25px;
    box-sizing: border-box;
    padding-top: 25px;
    padding-bottom: 25px;
    height: 23px;
    color: #959595;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 27.58px;
    width: 100%;
    border: 1px solid #96c11f;
    text-transform: uppercase;
    background: none;
    padding: 30px;
    &::placeholder{
      color: #96c11f;
    }


  }

  .modal__form-row{
    
  }

  .green_btn{
    display: block;
    margin: auto;
    margin-top: 60px;
  }

}

.main__img{
  position: relative;
  padding-right: 10px;
}

.main__img.active::after{

  content: '';
  position: absolute;
  width: 5px;
  background: #de0a1c;
  right: 0px;
  height: 100%;
}

.js-example-basic-single{
  width: 100%;
}

.select2-container--default .select2-selection--single .select2-selection__arrow{
  height: 26px;
  position: absolute;
  top: 0px;
  right: 1px;
  width: 20px;
  margin: auto;
  bottom: 0;
}

.select2-container{
  width: 100% !important;
  
}

.select2-container--default .select2-selection--single{
  padding-left: 13px;
  padding-right: 20px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-top: 5px;
  padding-bottom: 7px;
  height: auto;
  color: #959595;
  font-family: 'Roboto';
  font-size: 16px;
  font-weight: 400;
  line-height: 27.58px;
  width: 100%;
  border: 1px solid #96c11f;
  border-radius: 0px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered{
  color: #959595;
}

.select2-results{
  font-family: 'Roboto';
}

.my-checks-wrap{
  margin-bottom: 40px;
  box-sizing: border-box;
  overflow-y: auto;
  height: 600px;
  display: block;
  width: 70%;

}

/* width */
.my-checks-wrap::-webkit-scrollbar {
  width: 5px;
}

.my-checks-wrap::-webkit-scrollbar:horizontal {
  width: 0;
  height: 0;
}

/* Track */
.my-checks-wrap::-webkit-scrollbar-track {
  border: 1px solid #b3abab;
  border-radius: 4px;
}
 
/* Handle */
.my-checks-wrap::-webkit-scrollbar-thumb { 
  border-radius: 10px;
  background: #b3abab;
}

/* Handle on hover */
.my-checks tbody::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

.my-checks__title{
  color: #96c11f;
  font-family: 'rotonda_boldregular';
  margin-bottom: 25px;
  font-size: 37px;
  line-height: 110%;
  width: 50%;
}

.td-text.sucsess{
  color: #96c11f;
}

.td-text .fail{
  position: relative;
  padding-right: 30px;
  color: #3d3d3d;
  text-decoration: none;
  &::after{
    position: absolute;
    right: 0;
    top: 0;
    content: '';
    width: 20px;
    height: 20px;
    background: url('../images/why.png');
    background-size: contain;
  }
}

.my-gifts {
  table{
    width: 70%;
  }

  .gr__btn{
    background: #96c11f;
    color: #fff;
  }
}

.my-checks-df{
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
  justify-content: space-between;
}

.btn__lk{
  font-family: "Gotham Pro";
  margin-bottom: 40px;
  font-weight: 400;
  margin-top: 20px;
}

.section-winners{
  width: 100%;
}

.search{
  margin-bottom: 40px;
  align-self: flex-start;
}

.search__form{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.search__input{
  font-family: "Gotham Pro";
  font-size: 21px;
  color: #b3b3b3;
  border-radius: 10px;
  border: 1px solid #b3b3b3;
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.search__btn{
  font-family: "Gotham Pro";
  font-size: 21px;
  color: #fff;
  border-radius: 10px;
  border: none;
  background: #dd0c1c;
  padding-top: 10px;
  padding-right: 15px;
  padding-left: 15px;
  padding-bottom: 10px;
  margin-bottom: 20px;
}

.section-winners{
  .my-checks__sub{
    font-family: 'rotonda_boldregular';
    font-size: 45px;
    margin-bottom: 20px;
    color: #dd0c1c;
    margin-top: 40px;
  }

  .my-checks__title{
    line-height: 110%;
  }
}

.main_sale{
  height: 100%;
}

/* width */
.main_sale::-webkit-scrollbar {
  width: 0px;
}

/* Track */
.main_sale::-webkit-scrollbar-track {
  border: 1px solid #b3abab;
  border-radius: 4px;
}
 
/* Handle */
.main_sale::-webkit-scrollbar-thumb { 
  border-radius: 10px;
  background: #b3abab;
}

/* Handle on hover */
.main_sale::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}

.field .field__input.error {

}

.error{
  color: #c9161c;
  font-family: 'Gotham Pro';
  text-align: left;
  font-size: 14px;

}


.field__input{
  
  &.error{
    border: 1px solid #c9161c !important;
  }

  &.error::placeholder{
    color: #c9161c !important;
  }
}

.logout__links{
  display: flex;
}

.sale_sale2{
  .sale__title{
    max-width: 400px;
  }

  .gr__l.sale2{
    width: 130px;
  }

  .gr_desc_sale2{
    text-align-last: left;
    .gr__desc{
      max-width: 170px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .gr__desc-green{
      color: #96c11f;
      font-size: 21px;
      margin-bottom: 10px;
      font-family: 'rotonda_boldregular';
    }

    .gr__desc-red{
      color: red;
      font-family: 'rotonda_boldregular';
      font-size: 40px;
      margin-bottom: 12px;
    }

    span{
      color: #5c5c5c;
      font-size: 20px;
      line-height: 25.72px;
      font-family: "Gotham Pro";
      max-width: 320px;
      letter-spacing: -1.2px;
      text-align: left;
    }

    .gr__item2{

    }
  }
}

.onstart{
  display: none;
}

.modal_questions {

  .field__input,textarea{
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    padding-top: 20px;
    padding-bottom: 20px;
    height: 23px;
    color: #959595;
    font-family: 'Roboto';
    font-size: 16px;
    font-weight: 400;
    line-height: 27.58px;
    width: 100%;
    border: 1px solid #96c11f;
  }

  .field__input{
    width: 240px;
    display: block;
    margin: auto;
    margin-bottom: 20px;
  }

  textarea.field__input{
    outline: none;
    resize: vertical;
    min-height: 220px;
    min-height: 30vh;
    width: 100%;
    max-width: none;
  }

  .green_btn{
    margin: auto;
    margin-top: 20px;
    display: block;
    background: red;
    color: #fff;
  }

  .modal__title {
    font-size: 33px;
    line-height: initial;
    font-family: 'rotonda_boldregular';
    color: red;
  }

  span.error{
    color: #c9161c;
    font-family: 'Gotham Pro';
    text-align: left;
    font-size: 14px;
    width: 100%;
    max-width: 240px;
    display: block;
    margin: auto;
    margin-bottom: 5px;
  }
}

.modal_thx,.modal_checkcan{
  .modal__title{
    font-family: 'Roboto';
    font-weight: bold;
  }
  a{
    text-decoration: none;
    color: red;
  }
}

.modal_checkcan .modal__title{
  color: red;
}

.menu__icon{
  img{
    transition: all .3s ease;
  }
}

.section-sale{
  padding-left: 20px;
}

.sale_sale4{
  .gr__l.sale2{
    width:100%;
    max-width: 250px;
  }

  .gr__desc{
    margin-top: 20px;
  }

  .gr_desc_sale2{
    display: flex;
    align-items: center;
  }

  .gr_desc_sale2 span{

  }
}


.modal_questions{
  .modal__form-row{
    margin-bottom: 20px;
  }
}

.sale_sale5{
  .gr{
    width: 100%;
  }

  .gr__desc{
    text-align: left;

    a{
      color: red;
      text-decoration: none;
    }
  }

  .gr2__item{
    border: none;
    display: flex;
    padding: 0;
  }

}

.df{
  background: #fff;
}

.questions_page{
  .modal{
    left: 260px;
    display: block;
    z-index: 99;
    position: static;
  }

  .modal_inner{
    padding: 0;
    position: static;
    //top: 0;
    //transform:translate(-50%, calc(135px + 20px));
    transform: translate(0,0);
    margin: auto;
    margin-top: 40px;
  }


  .modal__form-row{
    max-width: 240px;
    margin: auto;
    margin-bottom: 20px;
  }
}

.sale_sale5{
  .gr2__item{
    display: flex;
    flex-direction: row;
  }

  .gr2{
    align-items: flex-end;
  }

  .gr2__desc{
    span{
      font-weight: bold;
      color: #96c11f;
    }
  }
}

.sale_sale6{
  .gr_item2_sale6{
    display: flex;

    .gr__desc{
      text-align: left;
    }
  }

  .gr{
    width: 100%;
  }
    
  .gr2__desc{
    span{
      font-weight: bold;
      color: #96c11f;
      }
  }

  .gr2__item{
    border: none;
    padding: 0;
    flex-direction: row;
    align-items: flex-start;
  }

  .gr2{
    justify-content: flex-start;
    align-items: flex-start;
  }

}

iframe{
  min-height: 510px;
  border: none;
}

.lk2__text{
  font-family: 'Gotham Pro';
  font-size: 25px;
  line-height: 144%;
}

.lk2{
  .my-checks-wrap{
    display: flex;
  }
  
  .my-checks-df_lk2{
    font-family: 'Gotham Pro';
    color: red;
  }

  
}

.overflow_hidden{
  overflow: hidden;
}

.modal_reg .modal_inner{
  min-height: 100%;
}

.main .main__img{
  padding-right: 0;
}

.main_sale .main__img{
  padding-right: 10px;
}










@import 'responsive';