//col = xs

//$grid-breakpoints: ( xs: 0, sm: 768px, md: 1366px, lg: 1521px, ) !default;
$sm: 528px; $md:768px ;$tb: 1360px;  $lg: 1521px;


// @media only (max-width: $lg) {


	
// }

@media only (max-width: 1790px) {
	.lk-name{
		margin-left: 0;
	}
	
}

@media only (max-width: 1610px) {
	.header_bg_anim{
		background-position: -322px 0;
	}

}
@media only (max-width: 1290px) {

	.nav__ul{
		padding-left: 136px;
	}
	
}

@media only (max-width: 1270px) {
	.search{
		order: -1;
	}

}




@media only (max-width: 1100px) {

	.lk-name{
		margin-left: 0;
	}

	.lk2{
		.my-checks-wrap{
			height: 200px;
		}
		
		.my-checks-df_lk2{
			font-family: 'Gotham Pro';
			color: red;
		}

		.lk__tabs{
			margin-bottom: 20px;
		}

		.my-checks__title,.lk2__text{
			text-align: left;
		}

		.lk2 .my-checks-df_lk2{
			text-align: left;
		}

		.lk2__text{
			font-size: 20px;
		}
	}

	.nav{
		width: 100%;
    right: 0;
    height: 100%;
		padding: 0;
		top: 0;
		z-index: 999;
	}

	.nav__ul{
		margin: 0;
    height: 100%;
	}

	.nav__li{
		padding-left: 60px;
	}
	// .logos{
	// 	display: none;
	// }

	.section-sale{
		padding-left: 0;
	}
	.nav__ul{
		padding-left: 0;
		
	}


	.nav__li{
		font-size: 20px;
		padding-top: 15px;
		padding-bottom: 15px;
		padding-right: 30px;
		padding-left: 20px;
		border-bottom: 1px solid red;
	}

	.nav__ul{
		flex-direction: column;
		position: fixed;
		background: #fff;
	}
	.nav{
		position: fixed;
	}
	.df{
		flex-wrap:wrap;
	}
	
	.grf{
		flex-wrap:wrap;
	}

	.gr__item{
		margin-bottom: 20px;
	}

	.section-sale{
		height: auto;
	}
	.section-lk{
		height: auto;
	}
	.main_sale{
		order: 5;
		flex-direction: row;
		height: auto;
	}

	.main_sale .main{
		flex-direction: row;
		max-width: 100%;
		-webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    max-width: 100%;
    flex-wrap: nowrap;
    overflow-y: scroll;
	}

	.main_sale .main__img{
		min-width: 160px;
	}

	.sale__title{
		line-height: 130%;
		text-align: center;
	}

	.gr{
		flex-wrap: wrap;
	}

	.gr__img{
		width: 60px;
	}

	.main_sale .main__img{
		padding-right: 0;
		padding-top: 10px;
	}

	.main__img.active::after{

		content: '';
		position: absolute;
		width: 100%;
		background: #de0a1c;
		right: auto;
		height: 5px;
		left: 0;
		top: 0;
	}

	.header_container{
		background-image: none;
	}

	.header.header_logout .header_nav_anim{
		transform: translateX(-210px);
	}

	

	.section-winners{
		.my-checks-df{
			flex-direction: column;
			align-items: flex-start;
		}

		.my-checks-wrap{
			width: 100%;
		}

		.search{
			order: -1;
			margin-bottom: 0;
		}

		.search__form{
			flex-direction: row;
		}

		.search__input{
			margin-right: 10px;
		}
	}

	.gr2{
		justify-content: flex-start
	}

	.gr2__item{
		margin: 0;
		margin-bottom: 30px;
		margin-right: 20px;
	}

	.sale__title2{
		text-align: left;
	}

	.tab{
		padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
		padding-bottom: 15px;
		line-height: initial;
		font-size: 25px;
	}

	.logos__slogan{
		font-size: 1rem;
	}

	.menu_mobile_active{
		transition: all .3s ease;
		.menu__icon{
			overflow: hidden;
	
			img{
				transition: all .3s ease;
				transform: translateX(30px);
			}
		}

	}

	.menu{
		right: 20px;
		top: -80px;
	}

	.menu {
		right: 20px;
    top: 28px;
    position: absolute;
		margin-top: 0px;
		z-index: 999;
	}

	.header_logout{
		background: #fff;
		position: fixed;
		left: 0;
		right: 0;
		z-index: 999;
		.onstart{
			display: flex;
			align-items: center;
			width: 50px;
		}
    .header__inner{
			display: flex;
		}
		
		.menu__icon img{
			transform: translateX(0px);
		}

		.menu{
			width: 20px;
			height: 60px;
			top: 0;
		}

		.logout{
			margin-right: 40px;
		}

		.logout_pep{
			background: url('../images/pep.png') no-repeat center;
			background-size: contain;

			width: 35px;
			height: 60px;
		}

		.logout__btn-icon{
			display: none;
		}

	}

	.header.header_logout{
		.logos{
			display: none;
		}
		.header_nav_anim{
			transform: none;
		}
	
	}

	.logout_menu_append{
		display: none;
	}

	.lk{
		//margin-top: 50px;
	}
	

}

@media only (max-width: $md) {
	.logos__slogan{
		width: 100%;
	}

	.df_mob{
		flex-wrap: nowrap;
	}

	.section-lk{
		height: auto;
	}
	.lk-name{
		margin-left: 0;
		line-height: initial;
		margin-bottom: 40px;
	}

	.lk__tabs{
		flex-wrap: wrap;
	}

	.footer_container{
		flex-direction:column;
	}

	.footer__right{
		order: -1;
		justify-content: flex-start;
		margin-bottom: 30px;
		min-width: 0;

	}

	.start__title{
		font-size: 25px;
		line-height: 30px;
		margin-bottom: 30px;
	}

	.start__desc{
		font-size: 20px;
		line-height: 25px;
	}

	.start__links-img{
		padding: 10px;
	}

	.start__links{
		margin-bottom: 50px;
	}

	.start__start{
		font-size: 18px;
    padding-right: 25px;
    padding-left: 25px;
    padding-top: 10px;
    padding-bottom: 15px;
    border-radius: 50px;
	}

	.main__img{
		width: 50%;
	}

	.df{
		flex-direction: column;
	}

	.main_sale{
		order: 5;
		flex-direction: row;
		height: auto;
	}

	.main_sale .main{
		flex-direction: row;
		max-width: 100%;
		-webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    max-width: 100%;
    flex-wrap: nowrap;
    overflow-y: scroll;
	}


	.sale__title{
		line-height: 130%;
		text-align: center;
	}

	.gr{
		flex-wrap: wrap;
	}

	.gr__img{
		width: 60px;
	}

	.gr2{
		flex-wrap: wrap;
	}

	.gr2__item{
		margin: 0;
		margin-bottom: 30px;
	}

	.gr__item:nth-child(2){
		margin-right: 0;
		flex-direction: row;
		justify-content: space-between;
	}

	.gr__item2{
		display: flex;
		flex-direction: column;
		width: 48%;
		align-items: center;
	}

	.gr__btn{
		font-size: 20px;
	}
	

	.tab_item{
		overflow: auto;
	}

	.lk-name{
		min-width: 75%;
		margin-bottom: 40px;
		box-sizing: border-box;
		font-size: 20px;
		padding-left: 40px;

		&::after{
			width: 30px;
			height: 100%;
			background: url(../images/pep.png);
			background-size: contain;
			background-repeat: no-repeat;
			background-position: top;
		}
	}

	.lk__tabs{
		margin-bottom: 40px;
	}
	.modal_inner{
		padding-left: 20px;
		padding-right: 20px;
		height: 100%;
		transform: translate(-50%, -50%);

	}
	

	.modal_overlay{
		overflow: auto;
	}

	.modal{
	}

	.modal__can{
		margin-bottom: 40px;
	}

	.header__inner{
		padding-left: 0;
		padding-right: 0;
	}



	

	

	.header_container{
		background-position: calc(100% + 446px) 0;
		padding-right: 20px;;
	}

	.logos__slogan{
		font-size: 16px;
		line-height: 130%;
		margin-right: 0;
		margin-top: 20px;
		margin-left: 0;
	}
	.logos{
		flex-wrap: wrap;

	}
	.main__img{
		min-width: 0 !important;
    flex-shrink: 0;
    width: auto;
    max-width: 100px;
	}

	

	.header_container{
		overflow: auto;
	}

	

	.logout__btn-icon{
		width: 55px;
	}

	.logout{
		margin-right: 80px;
	}
	.header.header_logout{
		.header_nav_anim{
			transform: none;
		}
	
	}

	.my-checks__title{
		width: 100%;
		font-size: 28px;
	}

	.my-gifts {
		table{
			width: 100%;
		}
	}

	.my-checks-wrap{
		width: 100%;
	}

	.section-winners{

		.search{
			width: 100%;
			display: flex;
			justify-content: center;
		}

		.search__input{
			font-size: 16px;
			margin-right: 10px;
		}

		.search__btn{
			font-size: 16px;
		}

		.my-checks__sub{
			margin-top: 30px;
		}

		.my-checks__sub,.my-checks__title{
			text-align: center;
			font-size: 30px;
		}

		table td, table th{
			padding-top: 0;
			padding-bottom: 0;

			&:nth-child(2){
				min-width: 175px;
			}
		}

		table .td-text{
			font-size: 16px;
		}
		
	}

	.header.header_logout{
		// .logos{
		// 	display: none;
		// }
	}

	.gr__item{
		flex-direction: column;
		align-items: center;
	}

	.gr__item2{
		flex-wrap:wrap;
		margin-right: 0;
		margin-bottom: 20px;
	}

	.sale__title{
		font-size: 36px;
		margin-bottom: 15px;
	}

	.gr__btn {
		text-align: center;
		display: inline-block;
		margin: auto;
	}

	.gr2{
		justify-content: center;
	}

	.logos__slogan{
		letter-spacing: .1px;
		font-size: 12px;
		margin-top: 5px;
	}

	.logos_coca img{
		margin-left: 0;
	}

	

	

	


	.gr{
		width: 100%;
	}

	.gr2{
		justify-content: space-between;
	}

	.gr2__item{
		margin: 0;
    margin-bottom: 0px;
    width: 48%;
    position: relative;
    padding: 12px;
    height: 210px;
	}

	.gr2__desc{
		position: absolute;
    bottom: 20px;
    font-size: 16px;
    line-height: initial;
    right: 12px;
    left: 12px;
	}

	.gr2__price{
		font-size: 25px;
	}

	.heads{
		margin-top: 0px;
		position: relative;
		height: 110px;
		width: 60%;
	
		img{
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			margin: auto;
		}
	}

	.sale__title2{
		margin-bottom: 40px;
		font-size: 25px;
	}

	
	
	.sale_sale4{
		.gr__item{
			width: 100%;
			display: flex;
			flex-direction: row;
		}
	}

	.questions_page{
		.modal__title {
			font-size: 25px;
			text-transform: initial;
		}
	}

	.btn__lk{
		display: block;
		margin-bottom: 40px;
	}

	.lk2{
		.my-checks-wrap{
			height: 200px;
			justify-content: center;
		}
		
		.my-checks-df_lk2{
			font-family: 'Gotham Pro';
			color: red;
		}

		.lk__tabs{
			margin-bottom: 20px;
		}

		.my-checks__title,.lk2__text{
			text-align: center;
		}

		.lk2 .my-checks-df_lk2{
			text-align: center;
		}
	}

	table .td-text{
		padding-right: 14px;
		font-size: 16px;
		width: 100%;
		padding-left: 2px;
		line-height: 144%;
	}

	table tr:nth-child(2) .td-text{
		width: 140px;
	}
	
	table td, table th{
		overflow: hidden;
		padding-top: 3px;
		padding-bottom: 3px;
		padding-left: 10px;

		&:nth-child(2){
			width: 140px;
		}
	}

	table th{
		padding-top: 0;
		padding-bottom: 0;
	}

	table .td-text_img{
		height: 30px;
	}

	.my-checks-wrap{
		height: auto;
		max-height: 600px;
	}

	.tab{
		font-size: 17px;
	}
	
}

.gr__btn + .gr__desc a{
	color: #5c5c5c;
}

.modal_overlay {
	z-index: 1000;
}

.modal_reg .field_checkbox a {
	position: relative;
    z-index: 2
}

.nav__li {
    padding-left: 50px;
    padding-right: 50px;
}

.nav_li_mobile .mobile__reg,
.nav_li_mobile .mobile__auth {
	display: none;
}

.mobile__auth,
.mobile__reg {
	font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 31.35px;
    color: #fff;
    padding-left: 30px;
    padding-right: 30px;
    padding-top: 10px;
    padding-bottom: 10px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
	border-radius: 100px;
    text-align: center;
    max-width: 270px;
    margin: 20px 0;
}

.mobile__auth {
	background-color: #96c11f;
}

.mobile__reg {
	background-color: #1aa439;
}

.nav_pattern_mobile {
	display: none;
}

.gr__btn {
    min-width: 150px;
    padding: 4px;
}

.gr__desc:first-child {
	text-align: left;
}

.gr2__price {
	line-height: 1;
}

.sale_sale .ym {
    margin-top: -70px;
}

.sale_sale .ym img {
	max-height: 160px;
}

.sale_sale .sale_sale1 .gr2__desc {
	position: static;
}

.sale_sale .sale_sale1 .sale__title2 + .gr2__item {
	align-items: flex-start;
}

.sale__title {
	font-size: 40px;
}

.sale_sale .gr2__desc {
    line-height: 1.3;
}

.sale {
	padding-bottom: 0;
}

.sale_sale4 .gr__desc {
	margin-top: 0;
}

.sale_sale4 .gr__l:not(.sale2) img {
	max-width: 56px;
}

.sale_sale2 .gr__l.sale2 {
	margin-top: 0;
}

.modal_reg .field_checkbox input:checked + span:after {
    position: absolute;
    content: '';
    width: 14px;
    height: 14px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    background: #96c11f;
}

.sale_sale5 .gr__img img {
	max-height: 52px;
}

.sale_sale5 .gr2__img {
    margin-right: 40px;
}

.sale_sale5 .gr2__desc,
.sale_sale6 .gr2__desc {
	color: #5c5c5c;
    font-size: 20px;
    line-height: 25.72px;
    font-family: "Gotham Pro";
    max-width: 320px;
    letter-spacing: -1.2px;
    text-align: left;
}

.sale_sale6 .gr2__item {
    margin-top: -70px;
    align-items: center;
    max-width: 100%;	
}

.sale_sale6 .gr2__img {
    max-width: 300px;
}

.sale_sale6 .gr_item2_sale6 .gr__img{
	max-width: 200px;
	min-width: 150px;
}

@media (max-width: 1610px) {
	.header_container {
   		background-position: calc(100% + 415px) 0;
	}

	.header_bg_anim {
	    background-position: -90px 0;
	}
}

@media (max-width: 1490px) {
	.header_bg_anim {
	    background-position: -184px 0;
	}
}

@media (max-width: 1366px) {
	.header_bg_anim {
	    background-position: -276px 0;
	}

	.sale_sale .gr {
	    width: 100%;
	}

	.sale__title, .sale__title2 {
		margin-bottom: 30px;
	}
}

@media (max-width: 1305px) {
	.sale_sale .gr2__item {
		margin-bottom: 40px;
	}
}

@media (max-width: 1100px) {
	.nav__ul,
	.header_logout .nav__ul {
		width: 100%;
		justify-content: flex-start;
	}

	.nav__li:first-child,
	.header_logout .nav__li:first-child {
	    padding-top: 180px;
	}

	.nav__li,
	.header_logout .nav__li {
		border-bottom: 0;
	}

	.nav_li_mobile .nav__link,
	.header_logout .nav_li_mobile .nav__link {
		display: none;
	}
	
	.nav_li_mobile .mobile__reg,
	.nav_li_mobile .mobile__auth,
	.header_logout .nav_li_mobile .mobile__reg,
	.header_logout .nav_li_mobile .mobile__auth {
		display: block;
	}

	.nav_pattern_mobile,
	.header_logout .nav_pattern_mobile {
		display: block;
		background: url(../images/pattern.png) right no-repeat #fff;
		background-size: contain;
		height: 135px;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		z-index: 1;
		background-position: left center;
	}
	
	.sale_sale .sale__title {
		text-align: left;
	}

	.sale_sale2 .sale__title, .sale_sale2 .sale__title2 {
		max-width: 100%;
		text-align: left;
	}

	.sale_sale5 .gr
	.sale_sale5 .gr2 {
		width: 50%;
		display: flex;
	    flex-direction: column;
	}

	

	.sale_sale5 .gr2 {
		justify-content: center;
	}

	.sale_sale5 .gr .gr__item:last-child {
	    flex-direction: column;
	}

	.sale_sale5 .gr__item2 {
	    margin-bottom: 40px;
	}

	.sale_sale6 .gr2__item {
		margin-top: 0;
	}
}

@media (max-width: 768px) {
	
	.sale__title, .sale__title2 {
		font-size: 28px;
	}

	.gr__item:nth-child(2) {
		align-items: flex-start;
	}

	.gr__desc {
		font-size: 16px;
		line-height: 1.2;
	}

	.gr__btn {
	    min-width: 120px;
	    font-size: 16px;
	}

	.sale_sale1 .gr__btn {
		margin-bottom: 5px;
	}

	.sale_sale .gr2__item {
		height: auto;
	    justify-content: flex-end;
	}

	.sale_sale .gr2__desc {
	    position: static;
	}

	.sale_sale .heads,
	.sale_sale .ym {
	    margin-top: 0px;
	    position: relative;
     	height: auto; 
     	width: auto; 
	    text-align: center;
	}

	.sale_sale .ym {

	}

	.heads img,
	.ym img {
        position: static;
	    margin-top: -30px;
	    margin-left: auto;
	    margin-right: auto;
	    max-height: 200px;
	    max-width: 80%;
	}

	.heads_sale3 img,
	.ym img {
		max-width: 100%;
	}

	.sale_sale2 .gr {
		width: 45%;
	}

	.sale_sale2 .gr__item2 {
    	width: 100%;
	}

	.sale_sale2 .gr_item2_fork {
		order: 1;
	}

	.sale_sale2 .gr_desc_sale2 {
		margin-bottom: 0;
	}

	.sale_sale2 .gr_desc_sale2 span {
		font-size: 16px;
		line-height: 1.2;
	}

	.sale_sale2 .gr {
	    width: 100%;
	}

	.sale_sale4 .gr:first-child .gr__item {
    	align-items: flex-start;
	}

	.sale_sale4 .gr_desc_sale2 {
		margin-left: 10px;
	}

	.sale_sale4 .gr:last-child .gr__item2 {
		margin-bottom: 0;
	}

	.sale_sale5 .sale__title br {
		display: none;
	}

	.sale_sale5 .gr__item2 {
	    margin-bottom: 10px;
	    align-items: flex-start;
	    width: 100%;
	}

	.gr__img {
	    margin-bottom: 10px;
	}

	.sale_sale5 .gr__img img {
	    max-height: 30px;
	}

	.sale_sale5 .gr2__item {
		width: 100%;
    	flex-direction: column;
	}

	.sale_sale5 .gr2__img {
        order: 1;
		max-width: 150px;
		margin-right: 0;
		margin-bottom: 0;
	}

	.sale_sale5 .gr__desc span,
	.sale_sale5 .gr2__desc {
		font-size: 16px;
	}
	
	.sale_sale6 .gr,
	.sale_sale6 .gr2 {
		width: 50%;
		display: flex;
	    flex-direction: column;
	}

	.sale_sale .gr2__item {
        width: 100%;
    	flex-direction: column;
	}

	.sale_sale6 .gr2__img {
	    order: 1;
	}

	.sale_sale6 .gr__item,
	.sale_sale6 .gr_item2_sale6 {
		align-items: flex-start;
	}

	.sale_sale6 .gr_item2_sale6 {
		width: 100%;
	}

	.sale_sale6 .gr2__desc {
		font-size: 16px;
	}

	

	.main__img{
		width: 50%;
		max-width: 50%;
	}

	.main__img{
		width: 50%;
		max-width: 50%;
	}

	.main_aside_sales{
		.main__img{
			width: 100%;
			max-width: 100px;
		}
	}

	
	.sale_sale2_hotfix .gr {
		width: 49%;
		display: flex;
	    flex-direction: column;
	}
	.sale_sale2_hotfix .gr_desc_sale2{
		margin-bottom: 10px;
	}


}

@media (max-width: 475px) {
	.nav_pattern_mobile {
		background-size: cover;
		background-position: calc(100% + -95px) center;
	}

}




// @media only (max-width: $sm) {

 
// }



