html(lang='en')
	head
		include includes/head
		link(rel="stylesheet", href="css/main.css")
	body

		section.content
			section.section-start
				.container.container_main.container_start
					.start__inner
						h1.start__title Выигрывай призы с Coca-cola и Пятерочка
						.start__desc Установите приложение, чтобы быть в курсе всех акций Coca-cola
						.start__links
							.start__links-img
								a(href='#!')
									img(src="images/qqr.png", alt="qr")
							.start__links-img
								a(href='#!')
									img(src="images/qqqr.png", alt="qr")
						a.start__start(href="start.html") Продолжить на сайте


					


		include includes/footer


