html(lang='en' )
	head
		include includes/head
		link(rel="stylesheet", href="css/main.css")
	body

		include includes/header-login
		section.content.content_white
			.df.df_mob
				section.section-main.main_sale.main_aside_sales
					.main
						.main__img.active
							a(href='sale.html')
								img(src="images/med/1.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/2.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/3.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/4.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/5.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/6.png", alt="sale")
				section.section-lk
					.container.container_lk
						.lk
							.lk__tabs
								.lk-name Иваненко Светлана Игоревна
								.tabs
									.tab_wrapper
										.tab Мои чеки
										.tab.active Мои призы
							.tab_item.my-checks
								h1.my-checks__title Акция: «Смени своё настроение после рабочего дня со Schweppes»
								.my-checks-df
									.my-checks-wrap
										table
											thead
												tr
													th
														.td-text Номер чека
													th
														.td-text Дата
													th
														.td-text Фото чека
													th
														.td-text Статус
											tbody
												tr
													td
														.td-text 27455
													td
														.td-text 12.02.2019
													td
														.td-text.td-text_img 
															img(src='images/coca.png')
													td
														.td-text На модерации
												tr
													td
														.td-text 27455
													td
														.td-text 12.02.2019
													td
														.td-text.td-text_img 
															img(src='images/coca.png')
													td
														.td-text На модерации
												tr
													td
														.td-text 27455
													td
														.td-text 12.02.2019
													td
														.td-text.td-text_img 
															img(src='images/coca.png')
													td
														.td-text На модерации
												tr
													td
														.td-text 27455
													td
														.td-text 12.02.2019
													td
														.td-text.td-text_img 
															img(src='images/coca.png')
													td
														.td-text На модерации
												tr
													td
														.td-text 27455
													td
														.td-text 12.02.2019
													td
														.td-text.td-text_img 
															img(src='images/coca.png')
													td
														.td-text.sucsess Подтвержден
												tr
													td
														.td-text 27455
													td
														.td-text 12.02.2019
													td
														.td-text.td-text_img 
															img(src='images/coca.png')
													td
														.td-text
															a.fail(href='#fail') Отклонен
									a.btn__lk.gr__btn.modal_trigger(href='#check') Загрузить чек
							.tab_item.my-gifts
								h1.my-checks__title Акция: «Смени своё настроение после рабочего дня со Schweppes»
								.my-checks-wrap
									table
										thead
											tr
												th
													.td-text Дата получения приза
												th
													.td-text Приз
												th
													.td-text Статус
										tbody
											tr
												td
													.td-text 12.02.2019
												td
													.td-text 300 рублей на Яндекс Такси
												td
													a.gr__btn.modal_trigger(href='#getgift') Получить
											tr
												td
													.td-text 12.02.2019
												td
													.td-text 300 рублей на Яндекс Такси
												td
													.td-text Ожидает отправки
											tr
												td
													.td-text 12.02.2019
												td
													.td-text 300 рублей на Яндекс Такси
												td
													.td-text Ожидает отправки
											tr
												td
													.td-text 12.02.2019
												td
													.td-text 300 рублей на Яндекс Такси
												td
													.td-text.sucsess Отправлено
											tr
												td
													.td-text 12.02.2019
												td
													.td-text 300 рублей на Яндекс Такси
												td
													.td-text.sucsess Отправлено
								


						



				



		include includes/footer


