html(lang='en' )
	head
		include includes/head
		link(rel="stylesheet", href="css/main.css")
	body

		include includes/header-login
		section.content.content_white
			.df.df_mob
				section.section-main.main_sale.main_aside_sales
					.main
						.main__img.active
							a(href='sale.html')
								img(src="images/med/1.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/2.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/3.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/4.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/5.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/6.png", alt="sale")
				section.section-lk.lk2
					.container.container_lk
						.lk
							.lk__tabs
								.lk-name Иваненко Светлана Игоревна
							.my-checks
								h1.my-checks__title Акция: «Смени своё настроение после рабочего дня со Schweppes»
								.lk2__text Участвуйте в конкурсе, выигрывайте <br/>крутой ежедневник!
								.my-checks-df
									.my-checks-wrap
										a.my-checks-df.my-checks-df_lk2(href="#!") Подробнее об акции
								
								


						



				



		include includes/footer


