html(lang='en' )
	head
		include includes/head
		link(rel="stylesheet", href="css/main.css")
	body

		include includes/header
		section.content
			.df
				section.section-main.main_sale.main_aside_sales
					.main
						.main__img.active
							a(href='sale.html')
								img(src="images/med/1.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/2.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/3.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/4.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/5.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/6.png", alt="sale")
				section.section-winners.questions_page
					.container
							
						.modal(id='questions')
							.modal_inner.modal_questions
								.modal__title.ttl3 Вопрос-ответ
								form.modal__form
										.feild
											input.field__input(type='text' placeholder='Фамилия Имя Отчество' name='email')
										.feild
											input.field__input(type='email' placeholder='e-mail' name='email')
										.modal__form-row
											.feild
												select.js-example-basic-single.field__input(type='text' placeholder='Выберете тему' name='theme')
													option(value="") Выберете тему
													option(value="") 2
										.field
											textarea.field__input(name='text' placeholder='Ваше сообщение')
										.modal__form-row
											button.green_btn(type="submit") Отправить 
								
						



				



		include includes/footer


