html(lang='en' )
	head
		include includes/head
		link(rel="stylesheet", href="css/main.css")
	body

		include includes/header
		section.content
			.df
				section.section-main.main_sale.main_aside_sales
					.main
						.main__img.active
							a(href='sale.html')
								img(src="images/med/1.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/2.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/3.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/4.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/5.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/6.png", alt="sale")
				section.section-sale.sale_sale
					.sale.sale_sale1
						.sale__img
							img(src="images/sale3.jpg", alt="sale")
						.sale__wrap
							.grf
								.gr
									.gr__item
										h1.sale__title Зажигай! На работе с призами от BURN 
									.gr__item
										.gr__item2
											.gr__desc <span>Купи</span> в Пятерочке в ТЦ Комсити BURN 0,5 или 0,33 л. 
												.gr__l
													img(src="images/l3.png", alt="imgs")
										.gr__item2
											a.gr__btn.modal_trigger(href='#check') Загрузи чек
											.gr__desc на сайте или</br> в 
												a(href='#!') приложении
								.gr2
									.sale__title2 Выигрывай призы
									.gr2__item
										.gr2__img.ym
											img(src="images/ym.png", alt="car")
										.gr2__price 300р
										.gr2__desc на Яндекс Музыку за каждые 3 чека гарантировано
									.gr2__item
										.gr2__img.heads.heads_sale3
											img(src="images/phones.png", alt="heads")
										.gr2__desc Накладные наушники от Coca-Cola
						



				



		include includes/footer


