html(lang='en' )
	head
		include includes/head
		link(rel="stylesheet", href="css/main.css")
	body

		include includes/header
		section.content
			.df
				section.section-main.main_sale.main_aside_sales
					.main
						.main__img.active
							a(href='sale.html')
								img(src="images/med/1.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/2.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/3.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/4.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/5.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/6.png", alt="sale")
				section.section-sale.sale_sale2.sale_sale2_hotfix
					.sale.sale_sale1
						.sale__img
							img(src="images/sale2.jpg", alt="sale")
						.sale__wrap
							h1.sale__title Устрой вечеринку на работе вмеcте со Schweppes
							.grf
								.gr
									.gr__item
										.gr__item2
											.gr__desc <span>Купи</span> в Пятерочке в ТЦ Комсити Schweppes 0,33 л. 
												.gr__l
													img(src="images/l2.png", alt="imgs")
										.gr__item2
											a.gr__btn.modal_trigger(href='#check') Загрузи чек
											.gr__desc на сайте или</br> в 
												a(href='#!') приложении
								.gr
									.gr__item
										.gr__item2.gr_item2_fork
											.gr__l.sale2
												img(src="images/fork.png", alt="imgs")
										.gr__item2.gr_desc_sale2
											.gr__desc 
												span.gr__desc-green Выигрывай
												span.gr__desc-red 4 000р
												span Сертификат на доставку еды в офис
								//- .gr2
								//- 	.sale__title2 Выигрывай призы
								//- 	.gr2__item
								//- 		.gr2__img
								//- 			img(src="images/car.png", alt="car")
								//- 		.gr2__price 300р
								//- 		.gr2__desc в Яндекс Такси За каждые 3 чека гарантировано
								//- 	.gr2__item
								//- 		.gr2__img.heads
								//- 			img(src="images/honor.png", alt="heads")
								//- 		.gr2__desc Беспроводные наушники HONOR
						



				



		include includes/footer


