html(lang='en' )
	head
		include includes/head
		link(rel="stylesheet", href="css/main.css")
	body

		include includes/header
		section.content
			.df
				section.section-main.main_sale.main_aside_sales
					.main
						.main__img.active
							a(href='sale.html')
								img(src="images/med/1.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/2.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/3.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/4.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/5.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/6.png", alt="sale")
				section.section-sale.sale_sale.sale_sale5
					.sale.sale_sale1
						.sale__img
							img(src="images/sale5/img.jpg", alt="sale")
						.sale__wrap
							h1.sale__title Сделай<br/>  фото и получи<br/> крутой приз!
							.grf
								.gr
									.gr__item
									.gr__item
										.gr__item2
											.gr__img
												img(src="images/sale5/1.png", alt="")
											.gr__desc <span>Купи</span><br/> в Пятерочкев ТЦ Комсити напиток<br/>0,5 или 0,33 л.
												.gr__l
													img(src="images/l.png", alt="imgs")
										.gr__item2
											.gr__img
												img(src="images/sale5/2.png", alt="")
											.gr__desc <span>Сделай фото</span><br/> с напитком на своем рабочем месте
										.gr__item2
											.gr__img
												img(src="images/sale5/3.png", alt="")
											.gr__desc <span>Загрузи в Instagram</span><br/> с хэштегом <a href='#!'> #cocacolaoffice</a>
								.gr2
									.gr2__item
										.gr2__img
											img(src="images/sale5/nb.png", alt="nb")
										.gr2__desc <span>Выигрывай</span><br/> Крутой и удобный<br/>ежедневник
						



				



		include includes/footer


