html(lang='en' )
	head
		include includes/head
		link(rel="stylesheet", href="css/main.css")
	body

		include includes/header-login
		section.content
			.df
				section.section-main.main_sale.main_aside_sales
					.main
						.main__img.active
							a(href='sale.html')
								img(src="images/med/1.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/2.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/3.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/4.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/5.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/6.png", alt="sale")
				section.section-sale.sale_sale
					.sale.sale_sale1
						.sale__img
							img(src="images/sale1.jpg", alt="sale")
						.sale__wrap
							.grf
								.gr
									.gr__item
										h1.sale__title Поделись своей офисной историей с Coca-Cola
									.gr__item
										.gr__item2
											.gr__desc <span>Купи</span> любой напиток<br/>от  Coca-Cola, объемом<br/>0,33 или 0,5л
												.gr__l
													img(src="images/l.png", alt="imgs")
										.gr__item2
											a.gr__btn.modal_trigger(href='#check') Загрузи чек
											.gr__desc на сайте или</br> в 
												a(href='#!') приложении
								.gr2
									.sale__title2 Выигрывай призы
									.gr2__item
										.gr2__img
											img(src="images/car.png", alt="car")
										.gr2__desc <span class='gr2__price'>300р</span> в Яндекс Такси За каждые 3 чека гарантировано
									.gr2__item
										.gr2__img.heads
											img(src="images/honor.png", alt="heads")
										.gr2__desc Беспроводные наушники от Coca-Cola
						



				



		include includes/footer


