html(lang='en' )
	head
		include includes/head
		link(rel="stylesheet", href="css/main.css")
	body

		include includes/header
		section.content
			.df
				section.section-main.main_sale.main_aside_sales
					.main
						.main__img.active
							a(href='sale.html')
								img(src="images/med/1.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/2.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/3.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/4.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/5.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/6.png", alt="sale")
				section.section-sale.sale_sale.sale_sale6
					.sale.sale_sale1
						.sale__img
							img(src="images/sale6/3.jpg", alt="sale")
						.sale__wrap
							h1.sale__title Смени своё настроение после<br/>рабочего дня со Schweppes
							.grf
								.gr
									.gr__item
										.gr__item2.gr_item2_sale6
											.gr__img
												img(src="images/sale6/1.png", alt="")
											.gr__desc <span>Купи</span><br/> в Пятерочке<br/>в ТЦ Комсити мультипак<br/>( 0,33л * 4 ) Schweppes<br/>и Coca-Cola
										.gr__item2
											a.gr__btn.modal_trigger(href='#check') Загрузи чек
											.gr__desc на сайте или</br> в 
												a(href='#!') приложении
								.gr2
									.gr2__item
										.gr2__img
											img(src="images/sale6/2.jpg", alt="nb")
										.gr2__desc <span>Выигрывай</span><br/> Домашнее<br/>караоке
						



				



		include includes/footer


