html(lang='en' )
	head
		include includes/head
		link(rel="stylesheet", href="css/main.css")
	body

		include includes/header-login
		section.content.content_white
			.df.df_mob
				section.section-main.main_sale.main_aside_sales
					.main
						.main__img.active
							a(href='sale.html')
								img(src="images/med/1.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/2.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/3.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/4.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/5.png", alt="sale")
						.main__img
							a(href='sale.html')
								img(src="images/med/6.png", alt="sale")
				section.section-winners
					.container
						.my-checks__sub Победители акции
						h1.my-checks__title «Смени своё настроение после рабочего дня со Schweppes»
						.my-checks-df
							.my-checks-wrap
								table
									thead
										tr
											th
												.td-text Победитель
											th
												.td-text Телефон
											th
												.td-text Приз
									tbody
										tr
											td
												.td-text Аня В.
											td
												.td-text +7 (***) *** 22 37
											td
												.td-text 300 рублей на Яндекс Такси
										tr
											td
												.td-text Аня В.
											td
												.td-text +7 (***) *** 22 37
											td
												.td-text Беспроводные наушники
										tr
											td
												.td-text Аня В.
											td
												.td-text +7 (***) *** 22 37
											td
												.td-text 300 рублей на Яндекс Такси
										tr
											td
												.td-text Аня В.
											td
												.td-text +7 (***) *** 22 37
											td
												.td-text 300 рублей на Яндекс Такси
										tr
											td
												.td-text Аня В.
											td
												.td-text +7 (***) *** 22 37
											td
												.td-text 300 рублей на Яндекс Такси
										tr
											td
												.td-text Аня В.
											td
												.td-text +7 (***) *** 22 37
											td
												.td-text 300 рублей на Яндекс Такси
								
							.search
								form.search__form(action="")
									input.search__input(type="text" placeholder='Номер телефона')
									button.search__btn(type="submit") Найти


						



				



		include includes/footer


