meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(charset='utf-8')
title
meta(name='description', content='')
meta(name='author', content='')
meta(name='viewport', content='width=device-width, initial-scale=1')
link(rel='shortcut icon', href='')