header.header.header_logout
	.container.header_container
		.header__inner.container
			.onstart
				a.onstart__link(href="/")
					img(src="images/back.png")
			.logos
				.logos__img.logos_coca
					img(src="images/coca.png", alt="logo")
				.logos__img
					img(src="images/5ka.png", alt="logo")
				span.logos__slogan Выигрывай призы с Coca-cola и Пятерочка
		.nav.container
			.nav_pattern_mobile
			ul.nav__ul
				li.nav__li
					a.nav__link(href='#!') Правила
				li.nav__li
					a.nav__link(href='winners.html') Победители
				li.nav__li
					a.nav__link(href='questions.html') Вопрос-ответ
				li.nav__li.nav_li_mobile
					a.nav__link.modal_trigger(href='#firstauth') Войти / Зарегистрироваться
					a.nav__link.modal_trigger.mobile__auth(href='#!') Выйти
					a.nav__link.modal_trigger.mobile__reg(href='#reg') Зарегистрироваться
		.logout
			.logout__links
				a.logout__btn.logout_pep(href='#!')
					span.logout__btn-icon
						img(src='images/logout.png')
				a.logout__btn.logout_menu_append(href='#!')
					span.logout__btn-text Выйти



				
		.menu
			.menu__icon

				img(src="images/menu.png", alt="burger")


